html {

    background-image: url('https://i.pinimg.com/originals/4e/15/a9/4e15a9e296c03c97c417335a2fbe8f93.gif');
    background-size: cover; 
    background-position: center; 
    position: relative; 
}

/* Create a pseudo-element to darken and blur the background */
html::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(7px); 
    z-index: -1; 
}

.category-button {
    position: relative;
    width: 500px; /* Adjust as needed */
    height: 200px; /* Adjust as needed */
    padding: 10px; /* Add some padding */
    transition: transform 0.3s ease-in-out; /* Add a transition for the hover effect */
    overflow: hidden; /* Ensure the images don't overflow the button */
    display: flex;
    justify-content: center;
    flex-wrap: wrap; /* Allow the buttons to wrap to a new line if there isn't enough space */
    gap: 20px; 
    margin-bottom: 50px;
    flex-direction: column;
    left: 30%;
    border-radius: 15px;
}

.button-image, .button-image-hover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the images cover the button */
    transition: opacity 0.3s ease-in-out;
}

.button-image-hover {
    opacity: 0;
}

.category-button:hover {
    transform: scale(1.05); /* Increase the size of the button when it's hovered over */
}

.category-button:hover .button-image-hover {
    opacity: 1;
}


h3 {
    font-family: 'Press Start 2P', system-ui;
    text-align: center;
    color: white;
    font-size: 80px;
    text-shadow: 0 0 10px #fffee5, 0 0 20px #ffe5f2, 0 0 30px #e5e7ff, 0 0 40px #f5e5ff;
}

#toggle-sound {
    position: fixed;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    height: 30px;
    width: auto;
}